body{
    background: rgb(255, 255, 255);
}
h2{
    color: rgb(58, 247, 0);
    text-align: center;
    font-family: Cambria;
}
img{
    position: absolute;
    top: 70px;
    right: 10px;
}
.div{
    display:flex;
    margin-bottom: -30px;
}
.div1{
    width:80%;  
}
.div2{
    width: 20%;
}