body {
  margin-left:300px;
  padding-left:50px;
  margin-top:100px;
  padding-top:50px;
  text-align:center;
}
#yellow {
  background-color:rgb(223, 223, 43)
}
#purple {
  background-color: rgb(199, 118, 199);
}
#green {
  background-color:rgb(110, 224, 110)low;;
}